/.idea
/vendor
/html
/runtime
/*.lock
/*.pid
/runLock
/log
/web/log
/web/wokerman.conf.local.php
/gitpull.sh
/web/tmp
/web/up
/web/runLock
*.log
/conf.local.php
/git_pull.sh
/web/yx_git.php
/wokerman.conf.local.php
/launch/config.ini
/launch/wv2.7z
