parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - .
    bootstrapFiles:
        - vendor/myphps/myphp/base.php
    excludePaths:
        - vendor
        - dist
        - common/EasyAlipay
        - common/Aop.php
        - common/EasyAlipay.php
        - runtime
        - app.php
        - app.conf.php
        - cmd.php
    ignoreErrors:
        - '#lib_redis#'
        - '#EasyWeChat#'
        - '#JWT#'
        - '#(PHPExcel|Spout|Admin)#'
        - '#myphp\\Session::getId\(\)#'
        - '#static method fields\(\)#'
        - '#Static call to instance method myphp\\Model::fields#'